.main {
    display: flex;
    background-color: #130030;
    height: 100vh;
}
  
.body {
    flex-grow: 1;
    justify-content: space-between;
    background-color: #130030;
    gap: 20px;
    height: 100vh;
    overflow-y: auto;
  }

  .title {
    font-size: 40px;
    font-weight: bold;
    color: #e9e4f2;
    padding-left: 3rem;
    padding-top: 3rem;
  }

  .cards {
    width: 90%;
    margin: 0 auto;
  }

  .exercises {
    height: "auto";
    display: "flex";
    flex-direction: "row";
  }