.main {
  display: flex;
  background-color: #130030;
}

.body {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 100px;
}
